<footer>
    <div class="container">
        <h2>A complete phone system</h2>
        <ul class="complete-list">
            <li>
                <a href="#"><i class="fas fa-cloud"></i> <span>Cloud PBX</span></a>
            </li>
            <li>
                <a href="#"><i class="far fa-folder"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="far fa-file-alt"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-globe-asia"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-blender-phone"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-desktop"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-microphone"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-users"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-user-check"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-bars"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-parking"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-phone-volume"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="far fa-file-alt"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-arrows-alt-h"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-phone-volume"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-cogs"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="far fa-clock"></i> <span>Phone system Item</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-user-check"></i> <span>Phone system Item</span></a>
            </li>
        </ul>
        <p class="text-center">You get everything you need. It's really that convenient</p>
    </div>
</footer>
<script src="js/main.min.js"></script>