<header>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-4">
            <a href="#" class="logo">
                <img src="img/logo.svg" alt="Voverc">
            </a>
            <div class="d-flex align-items-center">
                <a href="tel: 7783238486" class="phone">778-323-8486</a>
                <a href="#" class="chat d-flex align-items-center">
                    <i class="fas fa-comment mr-2"></i>
                    <span>Sales chat</span>
                </a>
            </div>
        </div>
    </div>
</header>