// Colors

$white: #fff;
$beige: #f5f5f5;
$blue: #2493be;
$orange: #ff8508;
$gray-dark: #595959;
$gray-light: #e8e8e8;
$gray-middle: #959595;
$green: #92d592;

//Grid

$xxxl: 1300px;
$xxl: 1186px;
$smd: 1045px;

